include COPYING.md
include CONTRIBUTING.rst
include README.md
include RELEASE.md
include CHANGELOG.md
include setupbase.py
include package.json

# include everything in package_data
recursive-include jupyter_server *

# Documentation
graft docs
exclude docs/\#*

# Examples
graft examples

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
prune .git
prune **/.ipynb_checkpoints
prune **/.pytest_cache
prune **/.coverage
prune **/.pytest_cache
