# needed because m2r uses deprecated APIs
# m2r is depended on by sphinxcontrib-openapi
docutils<0.19
ipykernel
jinja2
jupyter_client
jupyter_server
mistune<1.0.0
myst-parser
nbformat
prometheus_client
pydata_sphinx_theme
Send2Trash
sphinxcontrib-openapi
sphinxcontrib_github_alt
sphinxemoji
tornado
