name: jupyter_server_docs
dependencies:
- python=3.7
- pip:
  - sphinx
  - jinja2
  - tornado
  - jupyter_client
  - ipykernel
  - nbformat
  - Send2Trash
  - prometheus_client
  - sphinxcontrib_github_alt
  - sphinxcontrib-openapi
  - sphinxemoji
  - git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master