name: Jupyter Server Tests [Windows]
on:
  push:
    branches: "main"
  pull_request:
    branches: "*"
jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Install the Python dependencies
        run: |
          pip install -e .[test]
      - name: List installed packages
        run: |
          pip freeze
          pip check
      - name: Run the tests
        run: |
          # Disable capturing (-s) output from Pytest on Windows.
          # For an unknown reason, capturing output interferes with
          # the file descriptions opened by the asyncio IOLoop.
          # This leads to a nasty, flaky race condition that we haven't
          # been able to solve.
          pytest -vv -s jupyter_server
      - name: Install the Python dependencies for the examples
        run: |
          cd examples/simple && pip install -e .
      - name: Run the tests for the examples
        run: |
          pytest examples/simple
